@import './../../assets/styles/variables.scss';
@import './../../assets/styles/common.scss';

.app-container {
  flex-grow: 1;
  height: 100vh;

  > .MuiGrid-container {
    min-height: 100%;
  }

  .app-header {
    min-height: $header-height;
    max-height: $header-height;
    margin-bottom: $single-spacing;
    width: 100%;
    
    .MuiAppBar-root {
      color: $secondary-theme-color;
      background-color: $primary-theme-color;
    }

    .MuiToolbar-root {
      height: $header-height;
      min-height: $header-height;

      .logo img {
        height: 35px;
        width: auto;
      }

      .MuiDivider-root {
        margin-left: $double-spacing;
        margin-right: $double-spacing;
        width: 1px;
        height: 70%;
        background-color: $secondary-theme-color;
      }

      .nav-button-group .MuiButton-label {
        color: $secondary-theme-color;
      }

      & .auto-refresh-wrapper {
        position: absolute;
        top: 0px;
        right: $double-spacing;
        height: $header-height;
        padding: $single-spacing 0px;
      
        .MuiTypography-root {
          vertical-align: middle;
          font-size: $text-size-xs;
          color: $secondary-theme-color;
          margin-right: $single-spacing;
          font-weight: bold;
        }
      
        .refresh-slider-label {
          font-size: $text-size-xs;
          color: $secondary-color;
        }
      
        .MuiSlider-root {
          width: 100px;
          top: 8px;
          margin: 0px $single-spacing;
      
          .MuiSlider-mark {
            background-color: transparent;
          }
      
          .MuiSlider-rail {
            background-color: $secondary-color;
          }
      
          .MuiSlider-thumb { 
            background-color: $primary-color;
          }
      
          .MuiSlider-valueLabel {
            top: -$double-spacing;
      
            * {
              background-color: transparent;
              color: $secondary-theme-color;
            }
          }
        }
      }
    }
  }

  .app-footer {
    position: fixed;
    bottom: 0;
    min-height: $footer-height;
    width: 100%;

    .MuiAppBar-root {
      top: auto;
      bottom: 0;
      color: $secondary-theme-color;
      background-color: $primary-theme-color;

      .brand {
        font-size: $text-size-xs;

        > a, a:hover, a:visited, a:active, a:focus {
          color: $secondary-theme-color;
          text-decoration: none;
          margin-left: 4px;
        }
      }
    }
    
    .MuiToolbar-root {
      height: $footer-height;
      min-height: $footer-height;
      justify-content: flex-end;
    }
  }
}