@import './../../assets/styles/variables.scss';
@import './../../assets/styles/common.scss';

.shukra-body {
  margin-bottom: $footer-height !important;
  padding: 0px 0px $single-spacing 0px;
}

.shukra-left-container {
  border-right: 1px solid $border-color;

  & .member-list-container {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 60px);
    border-bottom: 1px solid $border-color;

    & .member-list-container-title {
      text-transform: capitalize;
      color: $primary-color;
      background-color: $secondary-color;
      height: 40px;
      padding: $single-spacing;
      font-size: $text-size-lg;
      font-weight: bold;
    }

    & .member-tree-view {

      & .MuiTreeItem-content {
        cursor: default;
      }
      
      & .MuiTreeItem-content:hover, .MuiTreeItem-content:active, .MuiTreeItem-content:focus {
        background-color: transparent;
      }

      & .MuiTreeItem-root:focus, .MuiTreeItem-root:active, .MuiTreeItem-root:hover {
        & > .MuiTreeItem-content {
          background-color: transparent;
        }
      }
      
      & > .MuiTreeItem-root {
        border-bottom: 1px solid $border-color;

        & > .MuiTreeItem-content {
          height: 30px;
          padding: $single-spacing 0px $single-spacing 0px;
          color: $primary-color;
          cursor: pointer;

          & .member-header {
            position: relative;
            
            & .member-header-left {
              width: 80%;

              & .member-status {
                width: $text-size-sm;
                height: $text-size-sm;
                font-size: $text-size-sm;
                vertical-align: middle;
                position: relative;
                top: -1px;
    
                &.up {
                  color: $status-up-color;
                }
    
                &.down {
                  color: $status-down-color;
                }
              }
    
              & .member-name {
                font-size: $text-size-sm;
                margin-left: 4px;
              }
            }
            
            & .member-header-right {
              width: 20%;
              text-align: right;

              & .member-type {
                padding: 0px $single-spacing;
                font-weight: bold;

                &.leader {
                  color: $leader-node-color
                }
                
                &.oldest {
                  color: $oldest-node-color
                }
              }
            }
          }
        }

        & > .MuiCollapse-container {
          margin-left: 0px;

          & .member-details {
            padding: 0px $single-spacing;
            font-size: $text-size-xs;

            & .member-actions {
              text-align: right;
              margin-bottom: $single-spacing;

              & .MuiButton-containedSizeSmall {
                padding: 2px 5px;
                font-size: $text-size-xs;
                border-radius: 0px;
                margin-left: $single-spacing;
                font-weight: normal;

                &.themed {
                  background-color: $primary-theme-color;
                  color: $secondary-theme-color;
                }
              }
            }
          }
        }
      }
    }
  }

  & .add-member-container {
    width: 100%;
    max-width: 100%;
    height: 60px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: $single-spacing;

    & .MuiFormControl-fullWidth {
      width: 85%;
    }

    & .MuiInputLabel-outlined.MuiInputLabel-marginDense {
      transform: translate(14px, 12px) scale(1);
      font-size: $text-size-xs;

      &.MuiInputLabel-shrink {
        transform: translate(14px, -6px) scale(0.75);
      }
    }

    & .MuiOutlinedInput-root {
      height: 35px;
    }

    & .MuiOutlinedInput-inputMarginDense {
      padding: 4px $single-spacing;
      font-size: $text-size-xs;
    }

    & .MuiInputBase-root {
      color: $primary-color
    }

    & fieldset {
      border: 1px solid $border-color;
    }

    & .MuiOutlinedInput-root, .MuiOutlinedInput-root:hover, .MuiOutlinedInput-root:active, .MuiOutlinedInput-root:focus {
      & .MuiOutlinedInput-notchedOutline {
        border-color: $border-color !important;
      }
    }

    & .MuiFormLabel-root, .MuiFormLabel-root.Mui-Focused {
      color: $primary-color !important;
    }

    & .MuiButtonBase-root {
      margin-left: $single-spacing;
      margin-top: 7px;
      border-radius: 2px;
      box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
      color: $primary-color;
      background-color: $secondary-color;
    }
  }
}