@import "./../../../assets/styles/variables.scss";
@import "./../../../assets/styles/common.scss";

.vis-tooltip {

  & .status {
    border-radius: 50%;
    border: 1px solid transparent;
    width: 10px;
    height: 10px;
    margin: 0px 4px;
    position: relative;
    top: 1px;
  
    &.up {
      background-color: $status-up-color;
    }
  
    &.down {
      background-color: $status-down-color;
    }
  
    &.joining {
      background-color: $status-joining-color;
    }
  
    &.leaving {
      background-color: $status-leaving-color;
    }
  
    &.exiting {
      background-color: $status-exiting-color;
    }
  }
  
  & .type {
    margin-right: 8px;
    font-weight: bold;
    font-style: italic;
  
    &.leader {
      color: $leader-node-color;
    }
  
    &.oldest {
      color: $oldest-node-color;
    }
  }
}