@import "./../../../assets/styles/variables.scss";
@import "./../../../assets/styles/common.scss";

.shukra-right-container {
  & .shukra-visual-title {
    text-transform: uppercase;
    color: $primary-color;
    height: 40px;
    padding: $single-spacing;
    font-size: $text-size-lg;
    font-weight: bold;
    text-align: center;
  }

  & .shukra-visual-wrapper {
    height: calc(100vh - 140px);

    & .vis-network {
      outline: none;

      & div.vis-navigation div.vis-button.vis-up,
      div.vis-navigation div.vis-button.vis-down,
      div.vis-navigation div.vis-button.vis-left,
      div.vis-navigation div.vis-button.vis-right,
      div.vis-navigation div.vis-button.vis-zoomIn,
      div.vis-navigation div.vis-button.vis-zoomOut,
      div.vis-navigation div.vis-button.vis-zoomExtends {
        background-image: none !important;
        padding: 0px $single-spacing;
      }

      & div.vis-navigation div.vis-button:hover {
        box-shadow: none !important;
      }

      & .vis-button:after {
        font-size: $text-size-md;
        color: $secondary-color;
      }

      & .vis-button:hover:after {
        font-size: $text-size-md;
        color: $primary-color;
      }

      & .vis-button.vis-up:after {
        content: "▲";
      }

      & .vis-button.vis-down:after {
        content: "▼";
      }

      & .vis-button.vis-left:after {
        content: "◀";
      }

      & .vis-button.vis-right:after {
        content: "▶";
      }

      & .vis-button.vis-zoomIn:after {
        content: "+";
        font-weight: bold;
        font-size: $text-size-xl;
      }

      & .vis-button.vis-zoomOut:after {
        content: "−";
        font-weight: bold;
        font-size: $text-size-xl;
      }

      & .vis-button.vis-zoomExtends:after {
        content: "⤧";
        font-weight: bold;
        font-size: $text-size-xl;
      }

      & .vis-tooltip {
        position: absolute;
        background-color: $primary-color;
        color: $secondary-color;
        padding: $single-spacing;
        font-size: $text-size-xs;
        border-radius: 2px;
        margin-left: $single-spacing;
        text-align: left;
        box-shadow: 1px 1px 4px 1px $secondary-color;
        border: 1px solid $primary-color;

        & .status {
          border-radius: 50%;
          border: 1px solid transparent;
          width: 10px;
          height: 10px;
          margin: 0px 4px;
          position: relative;
          top: 1px;

          &.up {
            background-color: $status-up-color;
          }

          &.down {
            background-color: $status-down-color;
          }

          &.joining {
            background-color: $status-joining-color;
          }

          &.leaving {
            background-color: $status-leaving-color;
          }

          &.exiting {
            background-color: $status-exiting-color;
          }
        }

        & .type {
          margin-right: 8px;
          font-weight: bold;
          font-style: italic;

          &.leader {
            color: $leader-node-color;
          }

          &.oldest {
            color: $oldest-node-color;
          }
        }
      }
    }
  }
}
