.align-right {
    text-align: right;
}

.vert-align-middle {
    vertical-align: middle;
}

.pos-rel {
    position: relative;
}

.di-inline-blk {
    display: inline-block;
}

.fo-we-bo {
    font-weight: bold;
}
