.align-right {
  text-align: right;
}

.vert-align-middle {
  vertical-align: middle;
}

.pos-rel {
  position: relative;
}

.disp-inline-blk {
  display: inline-block;
}

.font-bold {
  font-weight: bold;
}
