$primary-theme-color: #E75B27;
$secondary-theme-color: #FFFFFF;

$primary-color: #4A4A4A;
$secondary-color: rgba(158, 149, 149, 0.4);

$border-color: $secondary-color;

// Server status colors
$status-up-color: #EC5555;
$status-down-color: #5FF16E;

// Node indication colors
$leader-node-color: #413EDF;
$oldest-node-color: #B16B18;

// Font sizes
$text-size-xs: 12px;
$text-size-sm: 16px;
$text-size-md: 18px;
$text-size-lg: 24px;

// Header, Footer heights
$header-height: 55px;
$footer-height: 30px;

// Spacing
$single-spacing: 8px;
$double-spacing: 16px;

